# ignorar el cronjob de backup
backup_postgres.sh
backup_postgres.sh.bak
backup_test.sql
backups

/__pycache__/
*.pyc


# ignorar toda la carpeta de frontend
/frontend/



# ignorar el .env.example
.env.example
