--
-- PostgreSQL database dump
--

\restrict 4gVMnczEZa4qs1vZcgSe4XGxAEoANVouIZlFAsJVVtkDgk1DV7rFX54ybzU5XGM

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: userroles; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public.userroles AS ENUM (
    'USER',
    'ADMIN',
    'AUDITOR'
);


ALTER TYPE public.userroles OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: acta_entrega_recepcion; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.acta_entrega_recepcion (
    id integer NOT NULL,
    unidad_responsable integer NOT NULL,
    folio character varying,
    fecha character varying,
    hora character varying,
    comisionado character varying,
    oficio_comision character varying,
    fecha_oficio_comision character varying,
    entrante character varying,
    ine_entrante character varying,
    fecha_inicio_labores character varying,
    nombramiento character varying,
    fecha_nombramiento character varying,
    asignacion character varying,
    asignado_por character varying,
    domicilio_entrante character varying,
    telefono_entrante character varying,
    saliente character varying,
    fecha_fin_labores character varying,
    testigo_entrante character varying,
    ine_testigo_entrante character varying,
    testigo_saliente character varying,
    ine_testigo_saliente character varying,
    fecha_cierre_acta character varying,
    hora_cierre_acta character varying,
    observaciones text,
    estado character varying,
    creado_en date,
    actualizado_en date
);


ALTER TABLE public.acta_entrega_recepcion OWNER TO "user";

--
-- Name: acta_entrega_recepcion_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.acta_entrega_recepcion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.acta_entrega_recepcion_id_seq OWNER TO "user";

--
-- Name: acta_entrega_recepcion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.acta_entrega_recepcion_id_seq OWNED BY public.acta_entrega_recepcion.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO "user";

--
-- Name: anexos; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.anexos (
    id integer NOT NULL,
    clave character varying(50),
    creador_id integer NOT NULL,
    fecha_creacion timestamp without time zone,
    datos json NOT NULL,
    estado character varying NOT NULL,
    unidad_responsable_id integer NOT NULL,
    creado_en date,
    actualizado_en date,
    is_deleted boolean,
    acta_id integer
);


ALTER TABLE public.anexos OWNER TO "user";

--
-- Name: anexos_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.anexos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.anexos_id_seq OWNER TO "user";

--
-- Name: anexos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.anexos_id_seq OWNED BY public.anexos.id;


--
-- Name: posts; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.posts (
    id integer NOT NULL,
    content text,
    owner_id integer,
    created_at timestamp without time zone
);


ALTER TABLE public.posts OWNER TO "user";

--
-- Name: posts_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.posts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.posts_id_seq OWNER TO "user";

--
-- Name: posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.posts_id_seq OWNED BY public.posts.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    description character varying(255),
    activo boolean,
    creado_en timestamp without time zone,
    editado_en timestamp without time zone,
    is_deleted boolean
);


ALTER TABLE public.roles OWNER TO "user";

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO "user";

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: unidades_responsables; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.unidades_responsables (
    id_unidad integer NOT NULL,
    nombre character varying(255) NOT NULL,
    telefono character varying(20),
    domicilio character varying(255),
    municipio character varying(100),
    localidad character varying(100),
    codigo_postal character varying(10),
    rfc character varying(13),
    correo_electronico character varying(100),
    responsable integer,
    tipo_unidad character varying(50),
    fecha_creacion timestamp without time zone,
    fecha_cambio timestamp without time zone,
    unidad_padre_id integer
);


ALTER TABLE public.unidades_responsables OWNER TO "user";

--
-- Name: unidades_responsables_id_unidad_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.unidades_responsables_id_unidad_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.unidades_responsables_id_unidad_seq OWNER TO "user";

--
-- Name: unidades_responsables_id_unidad_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.unidades_responsables_id_unidad_seq OWNED BY public.unidades_responsables.id_unidad;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying,
    email character varying,
    password character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    is_deleted boolean DEFAULT false,
    role public.userroles,
    reset_token text,
    reset_token_expiration timestamp without time zone
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    username character varying,
    email character varying,
    password character varying,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    is_deleted boolean,
    rol_id integer
);


ALTER TABLE public.usuarios OWNER TO "user";

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO "user";

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: acta_entrega_recepcion id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.acta_entrega_recepcion ALTER COLUMN id SET DEFAULT nextval('public.acta_entrega_recepcion_id_seq'::regclass);


--
-- Name: anexos id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.anexos ALTER COLUMN id SET DEFAULT nextval('public.anexos_id_seq'::regclass);


--
-- Name: posts id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.posts ALTER COLUMN id SET DEFAULT nextval('public.posts_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: unidades_responsables id_unidad; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.unidades_responsables ALTER COLUMN id_unidad SET DEFAULT nextval('public.unidades_responsables_id_unidad_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: acta_entrega_recepcion; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.alembic_version (version_num) FROM stdin;
\.


--
-- Data for Name: anexos; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.posts (id, content, owner_id, created_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.roles (id, nombre, description, activo, creado_en, editado_en, is_deleted) FROM stdin;
\.


--
-- Data for Name: unidades_responsables; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.usuarios (id, username, email, password, created_at, updated_at, is_deleted, rol_id) FROM stdin;
\.


--
-- Name: acta_entrega_recepcion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.acta_entrega_recepcion_id_seq', 7, true);


--
-- Name: anexos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.anexos_id_seq', 14, true);


--
-- Name: posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.posts_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: unidades_responsables_id_unidad_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.unidades_responsables_id_unidad_seq', 212, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_id_seq', 20, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, false);


--
-- Name: acta_entrega_recepcion acta_entrega_recepcion_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.acta_entrega_recepcion
    ADD CONSTRAINT acta_entrega_recepcion_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: anexos anexos_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.anexos
    ADD CONSTRAINT anexos_pkey PRIMARY KEY (id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: roles roles_nombre_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_nombre_key UNIQUE (nombre);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: unidades_responsables unidades_responsables_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.unidades_responsables
    ADD CONSTRAINT unidades_responsables_pkey PRIMARY KEY (id_unidad);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: ix_acta_entrega_recepcion_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_acta_entrega_recepcion_id ON public.acta_entrega_recepcion USING btree (id);


--
-- Name: ix_anexos_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_anexos_id ON public.anexos USING btree (id);


--
-- Name: ix_posts_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_posts_id ON public.posts USING btree (id);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_unidades_responsables_id_unidad; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_unidades_responsables_id_unidad ON public.unidades_responsables USING btree (id_unidad);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_usuarios_email; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: ix_usuarios_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_usuarios_id ON public.usuarios USING btree (id);


--
-- Name: ix_usuarios_username; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_usuarios_username ON public.usuarios USING btree (username);


--
-- Name: acta_entrega_recepcion acta_entrega_recepcion_unidad_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.acta_entrega_recepcion
    ADD CONSTRAINT acta_entrega_recepcion_unidad_responsable_fkey FOREIGN KEY (unidad_responsable) REFERENCES public.unidades_responsables(id_unidad);


--
-- Name: anexos anexos_acta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.anexos
    ADD CONSTRAINT anexos_acta_id_fkey FOREIGN KEY (acta_id) REFERENCES public.acta_entrega_recepcion(id);


--
-- Name: anexos anexos_creador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.anexos
    ADD CONSTRAINT anexos_creador_id_fkey FOREIGN KEY (creador_id) REFERENCES public.users(id);


--
-- Name: anexos anexos_unidad_responsable_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.anexos
    ADD CONSTRAINT anexos_unidad_responsable_id_fkey FOREIGN KEY (unidad_responsable_id) REFERENCES public.unidades_responsables(id_unidad);


--
-- Name: unidades_responsables fk_responsable_usuario; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.unidades_responsables
    ADD CONSTRAINT fk_responsable_usuario FOREIGN KEY (responsable) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: posts posts_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: unidades_responsables unidades_responsables_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.unidades_responsables
    ADD CONSTRAINT unidades_responsables_responsable_fkey FOREIGN KEY (responsable) REFERENCES public.users(id);


--
-- Name: unidades_responsables unidades_responsables_unidad_padre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.unidades_responsables
    ADD CONSTRAINT unidades_responsables_unidad_padre_id_fkey FOREIGN KEY (unidad_padre_id) REFERENCES public.unidades_responsables(id_unidad);


--
-- Name: usuarios usuarios_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 4gVMnczEZa4qs1vZcgSe4XGxAEoANVouIZlFAsJVVtkDgk1DV7rFX54ybzU5XGM

